.App {
  /* text-align: center; */
}

.errortext, .errortext1 {
  color: red;
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  font-size: 12px;
}

.errortext1 {
  padding-left: 0;
}